<!-- src/app/welcome-page/welcome-page.component.html -->
<div>
<div class="card-wrapper" style="display: flex;">
    <mat-card>
        <mat-card-header>
        <mat-card-title>Flickette</mat-card-title>
            <mat-card-subtitle>Elevating Women's Stories, One Click at a Time</mat-card-subtitle>
            <mat-card-content>
                Welcome to Flickette, your exclusive gateway to the captivating world of women-led cinema! 
                Dive into a curated collection of movies featuring women-led content that not 
                only entertain but also pass the Bechdel test - a measure of female representation in film. Unleash the power of 
                storytelling that breaks stereotypes and resonates with the diverse narratives of women. Search, discover, and 
                store your favorite films effortlessly 
                 on Flickette, where every click contributes to celebrating and empowering women in the world of cinema. 
                 
             </mat-card-content>
        </mat-card-header>
        <mat-card-actions>
          <button class="sign-up-button"
            mat-raised-button
            (click)="openUserRegistrationDialog()"
            style="margin-right: 10px;"
            color="primary"
           >
            Sign Up
          </button>
          <button class="login-button"
             mat-raised-button
            color="primary"
            (click)="openUserLoginDialog()"
            style="margin-right: 10px;"
          >
            Login
          </button>
        </mat-card-actions>
    </mat-card>
</div>
</div>
