
.card{
  width: 400px;;
  height: 600px;

}

mat-card-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 2px;
}



  @media  (min-width:700px){

    .card-wrapper{

    grid-template-columns: 1fr 1fr;
    
    }
  }

  @media  (min-width:1300px){

    .card-wrapper{

    grid-template-columns: 1fr 1fr 1fr
    
    }
  }
  @media  (min-width:1600px){

    .card-wrapper{

    grid-template-columns: 1fr 1fr 1fr 1fr
    
    }
  }