<div class="card wrapper">
<mat-card class="card" style="display:flex;">
    <mat-card-title>
        <h3 class="genre-dialog-title">Genre: </h3>
    </mat-card-title>
    <br />
    <mat-dialog-content class="genre-dialog-content">
        Definiton: 
    </mat-dialog-content>
    <button 
        class="movie-details-close-button"
        mat-icon-button
        color="primary"
        aria-label="close the movie details button"
        mat-dialog-close
     >
        <mat-icon>X</mat-icon>
    </button>
</mat-card>
</div>