<!-- src/app/director/director.component.html -->
<div class="card wrapper">
  <mat-card class="card" style="display:flex;">
    <mat-card-content>
        <div>
            <span class="label">Name: </span>
            <span class="value">{{movies.director.name}}</span>
        </div>
        <div>
            <span class="label">Bio: </span>
            <span class="value">{{movies.director.bio}}</span>
        </div>
        <div>
            <span class="label">Birth: </span>
            <span class="value">{{movies.director.birth}}</span>
        </div>
        <div>
            <span class="label">Filmography: </span>
            <span class="value">{{movies.director.movies}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button
        class="director-close-button"
          mat-icon-button
          color="primary"
          mat-dialog-close
          aria-label="close the director details button"
        >
          <mat-icon class="material icons">close</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
</div>

