<h1 class="header">Flickette</h1>
<div mat-toolbar *ngIf="isUserLoggedIn()">
    <div mat-toolbar-row class="navbar-items">
        <button 
            class="navbar-item" 
            mat-icon-button
            aria-label="Browse Movies" 
            routerLink="/movies"
        >
            <mat-icon>home</mat-icon>
        </button>

        <button 
            class="navbar-item" 
            mat-icon-button
            aria-label="profile" 
            routerLink="/profile"
         >
            <mat-icon>person</mat-icon>
        </button>
        <button 
            class="Header"
            mat-icon-button
            aria-label="Flickette" 
            >
            <mat-icon>movie</mat-icon>
        </button>

        <button 
            class="navbar-item"
            mat-icon-button
            aria-label="logout" 
            (click)="logoutUser()"
        >
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</div>

