.toolbar{
    position: sticky;
    top: 0;
    z-index: 5;
        color: rgb(255, 252, 252);
        font-size: medium; 
        background-color: rgb(5,4,4);
        box-shadow: 1px 3px 10px #3c362a;
}

.logo{
    font-size: 26px;
    font-weight: bold;
}

mat-icon{
    color: white; 
}
.spacer {
    flex: 1 1 auto; 
}