.toolbar{
    position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}


.navbar-items{
    display: block;
    align-content: center; 
    justify-content: center; 
    align-items: center; 
}



