<div>
<div class="card-wrapper" style="display: flex;">
    <mat-card class="movie-card" *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;">
        <mat-card-header class="movie-title">
            <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>Directed by: {{movie.Director.name}}</mat-card-subtitle>
        </mat-card-header>
        <div class="img-wrapper">
            <img 
                mat-card-image
                src={{movie.ImageUrl}} 
                alt= {{movie.title}} 
            />
        </div>
            
        <mat-card-actions class="movie-info">
            <button
                mat-raised-button
                (click)="openGenreDialog()"
                color="primary"
            >
                Genre
            </button>

            <button
                mat-raised-button
                (click)="openDirectorDialog()"
                color="primary"
            >
                Director
            </button>

            <button
                mat-raised-button
                (click)="openMovieDetailsDialog()"
                color="primary"
            >
                Synopsis
            </button>

            <button mat-button
                    (click)="addToFavoriteMovies(movie._id)" 
                    *ngIf="!isFavorite(movie._id)" 
                    color="primary"
                    class="heart-button"
                    >
                    
                    <mat-icon>favorite_border</mat-icon>
            </button>

            <button mat-button
                    (click)="removeFromFavoriteMovies(movie._id)" 
                    *ngIf="isFavorite(movie._id)" 
                    color="primary"
                    class="heart-button"
                    >
                        <mat-icon>favorite</mat-icon>
            </button>

             </mat-card-actions>
        </mat-card>
    </div>
</div>
```

