mat-card-title{
    font-weight: bold;
    margin-bottom: 2px;
}

mat-card-subtitle{
  font-size: 13px; 
  color: black;
  margin-bottom: 15px; 
}

.favorite-button {
  align-items: right;
  justify-content: right;
}


.card-wrapper{
    display: grid;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px; 
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


}

.mat-icon{
    color: red !important; 
}
.card{
  width: 300px;
  height: 500px;
  margin: 30px;


}

.img-wrapper > img{
    object-fit: hidden;
    width: 400px;
    height: 400px;
}

.dialogs {
  align-items: center; 
}

.mat-card-footer {
  margin: 100px; 
}



  @media  (min-width:700px){

    .card-wrapper{

    grid-template-columns: 1fr 1fr;
    
    }
  }

  @media  (min-width:1300px){

    .card-wrapper{

    grid-template-columns: 1fr 1fr 1fr
    
    }
  }
  @media  (min-width:1600px){

    .card-wrapper{

    grid-template-columns: 1fr 1fr 1fr 1fr
    
    }
  }