<!-- src/app/movie-details/movie-details.component.html -->
<div class="card wrapper">
  <mat-card class="card" style="display:flex;">
    <mat-card-content>
        <div>
            <span class="label">Title: </span>
            <span class="value">{{movies.title}}</span>
        </div>
        <div>
            <span class="label">Description: </span>
            <span class="value">{{movies.description}}</span>
        </div>
        <div>
            <span class="label">Actors: </span>
            <span class="value">{{movies.actors}}</span>
        </div>
        <div>
            <span class="label">ReleaseYear: </span>
            <span class="value">{{movies.releaseyear}}</span>
        </div>
        <div>
            <span class="label">Rating: </span>
            <span class="value">{{movies.rating}}</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button
          class="movie-details-close-button"
          mat-icon-button
          color="primary"
          aria-label="close the movie details button"
          mat-dialog-close
        >
          <mat-icon>X</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card> 
</div>