<div class="profile-page">
    <app-navbar></app-navbar>
<div class="profile-container">
    <div class="info-container">
        <div class="info">
            <h1>Profile</h1>
            <p>Username: <b> {{ user.username }}</b></p>
            <p> Email: <b> {{ user.email }} </b></p>
        </div>
    </div>
</div>
</div>

<div mat-card class="form-wrapper">
    <app-navbar></app-navbar>
    <mat-card-title>Profile</mat-card-title>
    
    <mat-card-content class="form">

        <mat-form-field class="form-item">
            <input matInput placeholder="Name"
             [(ngModel)]="user.name" type="text" name="name" required>
        </mat-form-field>

        <mat-form-field class="form-item">
            <input matInput placeholder="Username" 
             [(ngModel)]="user.username" type="text" name="username" required>
        </mat-form-field>

        <mat-form-field>
        <input matInput placeholder="Email" 
         [(ngModel)]="user.email" type="text" name="email" required>
        </mat-form-field>

        <mat-form-field>
        <input matInput placeholder="Password"
          [(ngModel)]="user.password" type="text" name="password" required>
        </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary">Update</button>
    </mat-card-actions>
</div>

<div style="display: flex;">
    <mat-card class="favoriteMovies" >
        <mat-card-header>
            <mat-card-title {{user.username}}>'s Favorite Movies</mat-card-title>
        </mat-card-header>
        <mat-dialog-content>
            <mat-card-subtitle *ngFor="let favoriteMovie of favoriteMovies"  {{favoriteMovie.Title}}></mat-card-subtitle>
        </mat-dialog-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="primary"
            >
                Remove from Favorites
            </button>

        </mat-card-actions>
    </mat-card>
</div>
